@import url("https://fonts.googleapis.com/css2?family=Itim&family=Solway:wght@300;400;500;700;800&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Prevents overflow from child elements */
  font-family: "Itim", cursive;
}

.home-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.itim-style {
  font-family: "Itim", cursive;
  font-size: 8vw; /* Responsive font size */
  color: #333;
  text-align: center; /* Centers text horizontally */
  text-wrap: wrap;
  margin: 30px; /* Adds space above and below the text */
  margin-top: 10px;
}

.logo {
  width: 70%; /*Responsive width */
  max-width: 1200px; /* Maximum width to maintain aspect ratio */
  height: auto;
  margin: 2% 0; /* Responsive vertical spacing */
  margin-top: 10%;
}

.start-button {
  font-family: "Itim", cursive;
  padding: 2vw 2vw;
  font-size: 8vw;
  cursor: pointer;
  background-color: rgb(215, 123, 87);
  color: white; /* Text color for visibility */
  border: none;
  border-radius: 5px; /* Rounded corners */
  margin-top: 1%; /* Spacing above the button */
}
