@import url("https://fonts.googleapis.com/css2?family=Itim&family=Solway:wght@300;400;500;700;800&display=swap");

#root
/* App home-page style */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Itim", sans-serif;
}

/* Background Images */
.background-entry {
  background-image: url("./assets/images/background-entrypage.png");
  background-size: cover; /* Or whatever fits your design */
}
.background-last {
  background-image: url("./assets/images/background-lastpage.png");
  background-size: cover; /* Or whatever fits your design */
}

/* Logo */
.logo {
  background-image: url("./assets/images/brainbox-logo.png");
  width: 200px; /* Adjust based on your design */
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Icons */
.icon-sports {
  background-image: url("./assets/images/Sports.png");
  /* Additional styling */
}

.icon-parchment {
  background-image: url("./assets/images/Parchment.png");
  /* Additional styling */
}

.icon-palette {
  background-image: url("./assets/images/Paint Palette With Brush.png");
  /* Additional styling */
}

.icon-tree {
  background-image: url("./assets/images/Oak Tree.png");
  /* Additional styling */
}

.icon-microphone {
  background-image: url("./assets/images/Micro.png");
  /* Additional styling */
}

.icon-medusa {
  background-image: url("./assets/images/Medusa.png");
  /* Additional styling */
}

/* Additional styles for other elements and states */

/*@media screen and (min-width: 376px) {
  .home-proceed-game[data-v-60b4cf5f] {
      justify-content:center;
      align-items: center;
      height: 200px;
      display: flex;
  }} /block filtre categories
  
  .home-container[data-v-60b4cf5f] {
        background:initial
    }

 @media screen and (max-width: 1440px) 
    .home-container[data-v-60b4cf5f] {
        padding-top:52px
    } / hold body

    @keyframes wiggle-satchel-60b4cf5f {
    5% {
        transform: rotate(15deg)
    }

    10% {
        transform: rotate(-10deg)
    }

    15% {
        transform: rotate(5deg)
    }

    20% {
        transform: rotate(-5deg)
    }

    25% {
        transform: rotate(0)
    }
}
/* ... */
