body {
  margin: 0 2rem;
  background-color: #fbf9f5;
}

.theme-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#explore {
  font-family: itim;
  font-weight: 100;
  color: #4b4444;
}
