@import url("https://fonts.googleapis.com/css2?family=Itim&family=Solway:wght@300;400;500;700;800&display=swap");

:root {
  --main-background-color: #fbf9f5;
}

body {
  background-color: var(--main-background-color);
}

.round-time-bar {
  margin: 1rem;
  overflow: hidden;
  width: 18rem;
}

.round-time-bar div {
  width: 100%;
  height: 5px;
  animation: roundtime calc(10s) steps(var(10)) forwards;
  transform-origin: left center;
  background: rgb(43, 43, 109);
}

.animated {
  animation: roundtime calc(10s) linear forwards;
}

@keyframes roundtime {
  to {
    width: 0;
  }
}

.card-question {
  margin: 0rem 0rem 0rem 0rem;
  height: 18rem;
  width: 90%;
  background-color: white;
  /* border: 2px solid #3e81b9; */
  border-radius: 10px;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.47);
}

.question {
  font-family: Solway;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* height: 5rem; */
  text-align: center;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.all-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-answers {
  font-family: Itim;
  border-radius: 10%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answers {
  font-family: Itim;
  font-size: large;
  flex-wrap: wrap;
  width: 10rem;
  height: 5rem;
  padding: 0;
  margin: 0.5rem;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.47);
  background-color: #3e81b9;
  border-radius: 20px;
  border: none;
  color: white;
}

.answers-red {
  background-color: rgb(255, 0, 0);
  font-family: Itim;
  font-size: large;
  flex-wrap: wrap;
  width: 10rem;
  height: 5rem;
  padding: 0;
  margin: 0.5rem;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  border: none;
  color: white;
}

.answers-green {
  background-color: green;
  font-family: Itim;
  font-size: large;
  flex-wrap: wrap;
  width: 10rem;
  height: 5rem;
  padding: 0;
  margin: 0.5rem;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  border: none;
  color: white;
}

.next-button {
  background: linear-gradient(rgb(251 133 87), rgb(210 115 77));
  height: 10px;
  width: 200px;
  font-size: small;
}

@media (min-width: 900px) {
  .card-question {
    width: 40%;
    margin-top: 3rem;
  }

  hr {
    width: 25rem;
  }
}
