.nature-background {
  background-color: #588461;
  color: white;
}

.history-background {
  background-color: #d1374c;
  color: white;
}

.sports-background {
  background-color: #c99c54;
  color: white;
}

.geography-background {
  background-color: #3e81b9;
  color: white;
}

.art-background {
  background-color: #9d60b1;
  color: white;
}

.music-background {
  background-color: #c2368a;
  color: white;
}

.all-background {
  background: linear-gradient(#d194e7, #f581b9, #f4c984, #7fd091);
  color: white;
}

.mythology-background {
  background: linear-gradient(#e67474, #d476f6);
  color: white;
}
