#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Prevents overflow from child elements */
}

.entry-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/background-entrypage.png");
  background-size: cover;
  background-position: center;
}

.itim-style {
  font-family: "Itim", cursive;
  font-size: 4vw; /* Responsive font size */
  color: #333;
  text-align: center; /* Centers text horizontally */
  margin: 20px 0; /* Adds space above and below the text */
}

.logo {
  width: 50%; /* Responsive width */
  max-width: 600px; /* Maximum width to maintain aspect ratio */
  height: auto;
  margin: 2% 0; /* Responsive vertical spacing */
}

.start-button {
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  background-color: rgb(215, 123, 87);
  color: white; /* Text color for visibility */
  border: none;
  border-radius: 10px; /* Rounded corners */
  margin-top: 2%; /* Spacing above the button */
}
