/* NavBar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo img {
  height: 50px; /* Adjust to # screen */
}

.navbar-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0; /* Remove default margin from h1 */
}

.navbar-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.navbar-search input[type="search"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 1em; /* Adjust to #screen */
  border: 1px solid #ccc; /* Light border for the input */
  border-radius: 20px; /* Rounded borders for the input */
  outline: none;
}

.navbar-search input[type="search"]::placeholder {
  color: #888; /* Plqceholder text color */
}

.navbar-search button {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 1em;
}

/* Responsive styles for mobile */
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column; /* Stack logo and search on smaller screens */
    padding: 10px;
  }

  .navbar-logo,
  .navbar-title,
  .navbar-search {
    width: 100%; /* Full width on small screens */
    margin-bottom: 10px; /* Add space between elements */
  }

  .navbar-search input[type="search"] {
    font-size: 0.9em; /* Adjust font size for mobile */
  }

  .navbar-search button {
    /* Possibly hide button on small screens, if using search-as-you-type */
    display: none;
  }
}

/* Styles for desktops and larger tablets */
@media screen and (min-width: 1024px) {
  .navbar {
    /* Adjustments suitable for standard desktop screens */
    padding: 20px 40px; /* Example: more padding for larger screens */
  }

  .navbar-logo img {
    height: 60px; /* Example: larger logo for desktop screens */
  }

  .navbar-search input[type="search"] {
    font-size: 1em; /* Larger input font size for readability on desktop */
  }
}

/* Styles for very large screens */
@media screen and (min-width: 1440px) {
  .navbar {
    /* Further adjustments for very large screens */
    max-width: 1366px; /* You might want to cap the width */
    margin: 0 auto; /* This will center the navbar if the width is capped */
  }
  /* Additional styling adjustments for elements that might need to change */
}
