@import url("https://fonts.googleapis.com/css2?family=Itim&family=Solway:wght@300;400;500;700;800&display=swap");

.theme-card {
  border-radius: 20px;
  color: white;
  width: auto;
  padding: 30px;
  font-size: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px 1px rgba(157, 157, 157, 0.85);
}

h2 {
  font-family: itim;
  font-weight: normal;
  margin: 0;
}

img {
  width: 3rem;
  height: 3rem;
}

.nature {
  background-color: #a9d3b2;
  color: #459f58;
}

.nature {
  background-color: #a9d3b2;
  color: #459f58;
}

.history {
  background-color: #fdb2bc;
  color: #f24242;
}

.sports {
  background-color: #ffe5bc;
  color: #c99c54;
}

.geography {
  background-color: #d9ebfc;
  color: #5586bf;
}

.art {
  background-color: #e7a4ff;
  color: #9d60b1;
}

.music {
  background-color: #ffbedd;
  color: #c2368a;
}

.all {
  background: linear-gradient(#e7a4ff, #ffbedd, #ffe5bc, #a9d3b2);
  color: #5b5b5b;
}

.mythology {
  background: linear-gradient(#fe9f9f, #e9b4fc);
  color: #85265f;
}

body {
  margin: 0 2rem;
  background-color: #fbf9f5;
}

.theme-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(24, 1rem);
  gap: 20px;
}

.theme-card:nth-child(1) {
  grid-column-start: span 1;
  grid-row-start: span 5;
}

.theme-card:nth-child(2) {
  grid-column-start: span 1;
  grid-row-start: span 4;
}

.theme-card:nth-child(3) {
  grid-column-start: span 1;
  grid-row-start: span 5;
}

.theme-card:nth-child(4) {
  grid-column-start: span 1;
  grid-row-start: span 4;
}

.theme-card:nth-child(5) {
  grid-column-start: span 1;
  grid-row-start: span 5;
}

.theme-card:nth-child(6) {
  grid-column-start: span 1;
  grid-row-start: span 4;
}

.theme-card:nth-child(7) {
  grid-column-start: span 1;
  grid-row-start: span 5;
}

.theme-card:nth-child(8) {
  grid-column-start: span 1;
  grid-row-start: span 4;
}

#explore {
  font-family: itim;
  font-weight: 100;
  color: #4b4444;
}
